<?xml version="1.0" ?>
<model>
    <name>Tennis Ball</name>
    <version>1.0</version>
    <sdf version="1.4">tennis_ball.sdf</sdf>

    <author>
        <name>matthew</name>
        <email>matthew@todo.url</email>
    </author>

    <description>
        Have you ever wanted a tennis ball? Buy our new tennis balls, guaranteed to be 100% round!
    </description>
</model>