<launch>
    <arg name="width" default="640"/>
    <arg name="height" default="480"/>

    <arg name="right_device" default="/dev/video2"/>
    <arg name="left_device" default="/dev/video1"/>

    <group ns="/stereo">
        <node name="left" pkg="usb_cam" type="usb_cam_node">
            <param name="camera_name" value="left"/>
            <param name="image_width" value="$(arg width)"/>
            <param name="image_height" value="$(arg height)"/>
            <param name="video_device" value="$(arg left_device)"/>
            <param name="camera_info_url" value="package://rover_stereo/config/left.yaml"/>
            <param name="camera_frame_id" value="stereo_left_optical_frame" />
        </node>

        <node name="right" pkg="usb_cam" type="usb_cam_node">
            <param name="camera_name" value="right"/>
            <param name="image_width" value="$(arg width)"/>
            <param name="image_height" value="$(arg height)"/>
            <param name="video_device" value="$(arg right_device)"/>
            <param name="camera_info_url" value="package://rover_stereo/config/right.yaml"/>
            <param name="camera_frame_id" value="stereo_right_optical_frame" />
        </node>
    </group>
</launch>
