<launch>
    <include file="$(find rover_gazebo)/launch/empty_world.launch" />
    <include file="$(find rover_control)/launch/rover_control.launch" />
    <include file="$(find rover_moveit_config)/launch/move_group.launch" />
    <include file="$(find rover_moveit_config)/launch/moveit_rviz.launch" />
    <!--include file="$(find rover_navigation)/launch/robot_localization.launch" /-->
</launch>