<launch>
    <arg name="gripper_type" default="science_gripper"/>

    <!-- Load settings for srdf -->
    <param name="robot_description_semantic"
           textfile="$(find rover_moveit_config)/config/$(arg gripper_type)/rover.srdf"/>

    <!-- Load settings for joint limits !-->
    <group ns="robot_description_planning">
        <rosparam command="load" file="$(find rover_moveit_config)/config/$(arg gripper_type)/joint_limits.yaml"/>
    </group>

    <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
    <group ns="robot_description_kinematics">
        <rosparam command="load"
                  file="$(find rover_moveit_config)/config/$(arg gripper_type)/kinematics.yaml"/>
    </group>
</launch>