<launch>
    <arg name="width" default="1280" />
    <arg name="height" default="720" />

    <arg name="belly_device" default="/dev/video1" />
    <arg name="head_device"  default="/dev/video0" />

    <node name="belly_cam" pkg="usb_cam" type="usb_cam_node">
        <param name="camera_name" value="belly" />
        <param name="image_width" value="$(arg width)" />
        <param name="image_height" value="$(arg height)" />
        <param name="video_device" value="$(arg belly_device)" />
        <param name="autofocus" value="true" />
    </node>

    <node name="head_cam" pkg="usb_cam" type="usb_cam_node">
        <param name="camera_name" value="head" />
        <param name="image_width" value="$(arg width)" />
        <param name="image_height" value="$(arg height)" />
        <param name="video_device" value="$(arg head_device)" />
        <param name="autofocus" value="true" />
    </node>

    <node name="image_rotate_belly" pkg="rover_cameras" type="rotate_image">
        <remap from="~image_in" to="/belly_cam/image_raw" />
        <remap from="~image_out" to="/belly_cam_rotated/image_raw" />
        <param name="angle" value="180" />
    </node>
</launch>
