<launch>
    <arg name="use_fake" default="true" />

    <rosparam file="$(find rover_control)/config/rover_controllers_fake.yaml" command="load" if="$(arg use_fake)"/>
    <!-- todo, add real controllers (waiting on ros_control to get merged) -->

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
          args="joint_state_controller left_wheels_controller right_wheels_controller arm_ik_controller">
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
    </node>
</launch>