<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">
    <xacro:include filename="wheel.xacro"/>
    <xacro:macro name="linkColor" params="link mat">
        <gazebo reference="${link}">
            <material>${mat}</material>
        </gazebo>
    </xacro:macro>

    <material name="White">
        <color rgba="0.85 0.85 0.85 1"/>
    </material>

    <material name="Red">
        <color rgba="0.9 0.45 0.45 1"/>
    </material>

    <material name="Blue">
        <color rgba="0.2 0.2 1 1" />
    </material>

    <material name="Yellow">
        <color rgba="1 1 0.05 1" />
    </material>

    <link name="base_link">
        <inertial>
            <mass value="1.0"/>
            <inertia ixx="0.0608333333333" ixy="0" ixz="0" iyy="0.177083333333" iyz="0" izz="0.217083333333"/>
        </inertial>

        <visual>
            <origin xyz="0 0 0.125" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.55 0.25"/>
            </geometry>
            <material name="White"/>
        </visual>

        <collision>
            <origin xyz="0 0 0.125" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.55 0.25"/>
            </geometry>
        </collision>
    </link>

    <xacro:wheel suffix="front_left" attach="0.5 -0.275 0.01" side="-1"/>
    <xacro:wheel suffix="front_right" attach="0.5 0.275 0.01" side="1"/>
    <xacro:wheel suffix="back_left" attach="-0.5 -0.275 0.01" side="-1"/>
    <xacro:wheel suffix="back_right" attach="-0.5 0.275 0.01" side="1"/>
    <xacro:wheel suffix="center_left" attach="0 -0.275 0.01" side="-1"/>
    <xacro:wheel suffix="center_right" attach="0 0.275 0.01" side="1"/>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        </plugin>
    </gazebo>

    <xacro:include filename="arm.xacro" />
    <xacro:include filename="sensors.xacro" />
</robot>