<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="wheel_leg" params="suffix attach">
        <link name="wheel_leg_${suffix}">
            <inertial>
                <mass value="0.4" />
                <inertia ixx="0.004" ixy="0" ixz="0" iyy="0.004" iyz="0" izz="0.002" />
            </inertial>
            <visual>
                <origin xyz="0 0 -0.15" rpy="0 0 0" />
                <material name="Red" />
                <geometry>
                    <cylinder radius="0.1" length="0.3" />
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 -0.15" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="0.1" length="0.3" />
                </geometry>
            </collision>
        </link>
        <joint name="base_leg_${suffix}" type="fixed">
            <origin xyz="${attach}" rpy="0 0 0" />
            <parent link="base_link" />
            <child link="wheel_leg_${suffix}" />
        </joint>
        <link name="wheel_${suffix}">
            <inertial>
                <mass value="1" />
                <inertia ixx="0.00333333333333" ixy="0" ixz="0" iyy="0.005" iyz="0" izz="0.00333333333333" />
            </inertial>
            <visual>
                <origin
            </visual>
        </link>
    </xacro:macro>
</robot>