<launch>
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true" output="screen">
        <param name="frequency" value="20" />
        <param name="sensor_timeout" value="1" />

        <param name="transform_time_offset" value="0.25" />
        <param name="odom0" value="/odometry/gps" />

        <param name="publish_tf" value="true" />
        <rosparam param="odom0_config">
            [true, true, true,
            false, false, false
            true, true, true,
            false, false, false,
            true, true, true]</rosparam>

        <!-- param name="odom1" value="/wheel_diff_drive_controller/odom" />
        <rosparam param="odom1_config">
            [true, true, false,
            false, false, true,
            true, true, false,
            false, false, true,
            true, true, false]
        </rosparam -->

        <param name="imu0" value="/imu/data" />
        <param name="imu0_remove_gravitational_acceleration" value="true" />

        <rosparam param="imu0_config">
            [false, false, false,
             true, true, true,
             false, false, false,
             true, true, false,
             false, false, false]
        </rosparam>
    </node>
</launch>