<launch>
    <arg name="use_fake" default="false" />
    <include file="$(find rover_navigation)/launch/visual_odom.launch">
        <arg name="use_stereo" value="$(eval not arg('use_fake'))" />
    </include>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true" output="screen">
        <param name="frequency" value="20" />
        <param name="sensor_timeout" value="1" />

        <param name="transform_time_offset" value="0.25" />
        <param name="odom0" value="/rgbd_odom/odom" />

        <param name="publish_tf" value="true" />
        <rosparam param="odom0_config">
            [true, true, true,
            true, true, true,
            true, true, true,
            true, true, true,
            true, true, true]</rosparam>

        <!--

        <param name="odom1" value="/wheel_diff_drive_controller/odom" />
        <rosparam param="odom1_config">
            [true, true, false,
            false, false, true,
            true, true, false,
            false, false, true,
            true, true, false]
        </rosparam>

        <param name="odom1_differential" value="true" />

        <param name="imu0" value="/imu/data" />
        <rosparam param="imu0_config">
            [false, false, false,
             true, true, true,
             false, false, false,
             true, true, false,
             false, false, false]
        </rosparam> -->
    </node>
</launch>