<launch>
    <node ns="rtabmap" name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
        <remap from="odom" to="/odometry/filtered" />
        <remap from="rgb/image" to="/stereo/left/image_rect_color" />
        <remap from="rgb/camera_info" to="/stereo/left/camera_info" />
        <remap from="depth/image" to="/stereo/depth" />

        <!-- laser test, enable if we get laser scanner and use it
        <param name="subscribe_scan" value="true" />
        <remap from="scan" to="/laser/scan" /> -->

        <param name="grid_eroded" value="true" />
        <param name="tf_delay" value="0.01" />

        <param name="Grid/MaxGroundAngle" type="string" value="82" />
    </node>
</launch>